<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');
    </style>
</head>
<body style="background-color: #13202e; direction: rtl; overflow-x: hidden; margin: 0;font-family: Vazirmatn, sans-serif; color: #ffffff;text-align: center!important;">
<header class="container my-5 p-5 flex justify-center flex-col fix-background" style="display: flex;padding: 5rem;justify-content: center;flex-direction: column;background-repeat: no-repeat; background-size: contain; background-position: center;width: 80%; margin: auto;">
    <img class="logo" src="https://mhbahmani.ir/image/email/logo.png/"
         alt="" style="width: 200px; height: 200px; margin: auto; margin-top: 1rem;">
</header>
<main class="container" style="width: 80%; margin: auto;">
    <h2 style="font-size: 34px; margin: 2rem 0;">
        ایمیل فعال سازی
    </h2>

    <p class="pb-1" style="padding-bottom: 1rem;">
        لطفا برای تکمیل ثبت‌نام برروی دکمه زیر کلیک کنید.

    </p>
    <p>
        {{ domain }}/signup/activate?eid={{ eid }}&token={{ token }}
    </p>
</main>
<footer class="mt-5" style="background-color: #182636;margin-top: 5rem;">
    <div class="container flex justify-between items-center" style="display: flex;justify-content: space-between;align-items: center;">
        <p class="flex items-center" style="display: flex;align-items: center;">
            حامی رویداد: <img class="mr-1" style="margin-right: 1rem;" src="https://mhbahmani.ir/image/email/azki.png" alt="">
        </p>
    </div>
</footer>


</body>
</html>
